@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <p>
        <a asp-page="./Authentication/SignUp" class="btn btn-outline-dark">Sign up</a>
    </p>
    <p>
        <a asp-page="./Authentication/SignIn" class="btn btn-outline-dark">Sign in</a>
    </p>
</div>
