<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ITLab" value="https://pkgs.dev.azure.com/rtuitlab/278a7304-bcba-405f-8a9f-2b82b908f3be/_packaging/ITLab/nuget/v3/index.json" />
  </packageSources>
</configuration>