@page
@model studo.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = null;
}

<div class="container">
    <div class="validation" asp-validation-summary="All" />
    @if (Model.IsOk)
    {
        <h2>Your email was successfully confirmed</h2>
        <h3>Click <a href="/Index">here</a> to visit Home page</h3>
    }
</div>
