@page
@model studo.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "_LayoutEmail";
}

@if (Model.IsOk)
{
    <h2>Your password was successfully reseted</h2>
    <h3>Click <a href="/Index">here</a> to visit Home page</h3>
}
else
{
    <div class="container">
        <form method="post">
            <div class="validation" asp-validation-summary="All" ></div>
            <div class="form-group">
                <h4>
                    <label asp-for="NewPassword" class="control-label">New password:</label>
                    <input type="password" asp-for="NewPassword" />
                </h4>
            </div>
            <div class="form-group">
                <h4>
                    <label asp-for="NewPasswordConfirm" class="control-label">Confirm password:</label>
                    <input type="password" asp-for="NewPasswordConfirm" />
                </h4>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Reset password" />
            </div>
        </form>
    </div>
}
