@page
@model studo.Pages.Authentication.SignUpModel
@{
    ViewData["Title"] = "Registration";
}

<form method="post">
    <div class="validation" asp-validation-summary="All"></div>
    <div class="form-group">
        <label for="Firstname" class="control-label">Firstname</label>
        <input id="Firstname" type="text" asp-for="userRegistrationRequest.Firstname" class="form-control" />
        <span asp-validation-for="userRegistrationRequest.Firstname"></span>
    </div>
    <div class="form-group">
        <label for="Surname" class="control-label">Surname</label>
        <input id="Surname" type="text" asp-for="userRegistrationRequest.Surname" class="form-control" />
        <span asp-validation-for="userRegistrationRequest.Surname"></span>
    </div>
    <div class="form-group">
        <label for="Email" class="control-label">Email</label>
        <input id="Email" type="email" asp-for="userRegistrationRequest.Email" class="form-control" />
        <span asp-validation-for="userRegistrationRequest.Email"></span>
    </div>
    <div class="form-group">
        <label for="Password" class="control-label">Password</label>
        <input id="Password" type="password" asp-for="userRegistrationRequest.Password" class="form-control" />
        <span asp-validation-for="userRegistrationRequest.Password"></span>
    </div>
    <div class="form-group">
        <label for="PasswordConfirm" class="control-label">Confrim password</label>
        <input id="PasswordConfirm" type="password" asp-for="userRegistrationRequest.PasswordConfirm" class="form-control" />
        <span asp-validation-for="userRegistrationRequest.PasswordConfirm"></span>
    </div>
    <div class="form-group">
        <label for="StudentCardNumber" class="control-label">Student card number</label>
        <input id="StudentCardNumber" type="text" asp-for="userRegistrationRequest.StudentCardNumber" class="form-control" />
        <span asp-validation-for="userRegistrationRequest.StudentCardNumber"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Sign up" class="btn btn-success" />
    </div>
</form>

@if (Model.IsCreated)
{
    <h2>Please check your mailbox to confirm your email</h2>
}
